html {
	font-size:16px;
}
body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 75em;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;

}

p {
	font-size: 0.875em;
	line-height: 1.3em;
}
ul{
	margin: 0;
}

/*The widths are in a percentage!*/
header {

	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
}

header h1 {
	font-size: 1.875em;
	margin: 0;
	padding: 2em 1em 1em 1em;
	width:100%;
	border-bottom: 3px solid #77a466;
}
header h1 span {
	color: #77a466;
}

header nav {
	
	padding: 20px 0;
	width: 100%;
}
header nav ul {
	margin: 0 ;
	padding: 0;
	
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 0.625em 0;
	list-style-type: none;

}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section{
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.bottom-section{
	
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: row wrap;
	

}
.main-image img {
	width: 100%;
	padding-top:1em;
	border-bottom: 3px solid #77a466;
	display: flex;
	
}


.main-title h3 {
	text-align: left;
	padding: 0.313em  0;
	font-size: 1.25em;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.56em;
}

.section-one,
.section-two,
.section-three {
	
	border-top: 1px solid #eee;
	width: 100%;
}


.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: .625em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	border-top: .188em solid #eee;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}
/***************  Tablet  *****************/
@media only screen and (min-width: 768px){
.bottom-section{

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-flow: row nowrap;
	}
.section-one, .section-two, .section-three{
	border-top: none;
	flex-basis: 30%;
	}

}

/***************  Desktop  ****************/
@media only screen and (min-width:1200px){
	header{
		text-align: left;
		justify-content: space-between;

	}
	header h1{
		padding:0;
		border-bottom: none;
		width: 30%;
	}
	header nav{
		width: 50%;
	}
		
	}
	header nav ul{
		display: flex;
		justify-content: space-between;
	}
}